@media screen and (max-width: 768px){
    .text{
        background: url(./images/kk5.png);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        /* padding-top: 120px; */
        background-size: 45px;
        letter-spacing: -7px;
        line-height: .7;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 50px;
        font-weight: bolder;
        /* text-align: center; */
        text-transform: uppercase;
        transition: width 2s, height 2s, transform 2s;
    }
    .text:hover{
        transform: scale(1.1);
    }
}
@media screen and (min-width: 769px){
    .text{
        background: url(./images/kk.png);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        /* padding-top: 120px; */
        background-size: 62px;
        padding-left: 50px;
        letter-spacing: -7px;
        line-height: .7;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 100px;
        font-weight: bolder;
        text-align: center;
        text-transform: uppercase;
        transition: width 2s, height 2s, transform 2s;
    }
    .text:hover{
        transform: scale(1.1);
    }
}